BODY {
	MARGIN: 0pt; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
TD {
	FONT-FAMILY: arial, helvetica, sans-serif
}
TH {
	FONT-FAMILY: arial, helvetica, sans-serif
}
TH {
	COLOR: red
}
A {
	FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
:link {
	COLOR: #31659c
}
:visited {
	COLOR: #31659c
}
:active {
	COLOR: #31659c
}
TD.half {
	WIDTH: 50%
}
TD.full {
	WIDTH: 100%
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
TABLE.header {
	HEIGHT: 160px
}
TABLE.maxheight {
	HEIGHT: 100%
}
.spacer {
	HEIGHT: 8px; BACKGROUND-COLOR: #31659c
}
.center {
	TEXT-ALIGN: center
}
.lineno {
	FONT-FAMILY: courier, monospace; BACKGROUND-COLOR: #efefef
}
.editno {
	CURSOR: pointer; COLOR: #31659c; FONT-FAMILY: courier, monospace; BACKGROUND-COLOR: #efefef
}
.editno:hover {
	TEXT-DECORATION: underline
}
.red {
	COLOR: red
}
.correct {
	COLOR: green
}
.hint {
	COLOR: blue; FONT-STYLE: italic
}
.wrong {
	COLOR: red
}
.overdue {
	COLOR: maroon
}
.avail {
	COLOR: green; FONT-STYLE: italic
}
.dark {
	BACKGROUND-COLOR: #efefef
}
.comment {
	COLOR: maroon; FONT-STYLE: italic
}
.srccomment {
	COLOR: green
}
.source {
	BACKGROUND-COLOR: #ddddff
}
.ta-mp {
	BACKGROUND-COLOR: #ddddff
}
.zero-mp {
	BACKGROUND-COLOR: #ffdddd
}
.needsubmit-mp {
	BACKGROUND-COLOR: #ffffdd
}
.grading-mp {
	FONT-WEIGHT: bold; COLOR: white; BACKGROUND-COLOR: #31659c
}
.fp {
	BORDER-RIGHT: navy 2px solid; BORDER-TOP: navy 2px solid; BORDER-LEFT: navy 2px solid; BORDER-BOTTOM: navy 2px solid
}
.fptitle {
	FONT-SIZE: large; COLOR: white; BACKGROUND-COLOR: navy
}
.fpinfo {
	BACKGROUND-COLOR: #efefef
}
.fpdesc {
	PADDING-LEFT: 1cm; BACKGROUND-COLOR: white
}
.fpmember {
	PADDING-LEFT: 1cm; BACKGROUND-COLOR: white
}
.fpstatus {
	BACKGROUND-COLOR: #efefef
}
.fppending {
	COLOR: #880088; FONT-STYLE: italic
}
.fpapproved {
	COLOR: #008800; FONT-STYLE: italic
}
.fprejected {
	COLOR: #880000; FONT-STYLE: italic
}
.update {
	FONT-STYLE: italic; BACKGROUND-COLOR: #ffefef
}
.exam-title {
	FONT-WEIGHT: bold; COLOR: #ff0000; TEXT-ALIGN: left
}
.exam-time {
	COLOR: #ff0000
}
.exam-coverage {
	COLOR: #ff0000
}
.assign-title {
	FONT-WEIGHT: bold; COLOR: #008000; TEXT-ALIGN: left
}
.mp-coverage {
	COLOR: #008000
}
.duedate-title {
	FONT-WEIGHT: bold; COLOR: #ff0000; TEXT-ALIGN: left
}
.duedate-mp {
	COLOR: #ff0000; TEXT-ALIGN: left
}
.duedate-hw {
	COLOR: #000000; TEXT-ALIGN: left
}
TH.day-noclass {
	WIDTH: 20%; COLOR: #909090; BACKGROUND-COLOR: #dddddd
}
TH.day-class {
	WIDTH: 20%; COLOR: red; BACKGROUND-COLOR: #eeeeee
}
.day-noclass {
	COLOR: #909090; BACKGROUND-COLOR: #dddddd
}
.day-class {
	COLOR: #000000; BACKGROUND-COLOR: #eeeeee
}
